body {
  background: rgb(231, 215, 215);
  text-align: center;
}
h5,
h4,
h3,
h2,
h1 {
  margin: 0;
}

h2 {
  margin-bottom: 20px;
}
table {
  text-align: left;
}
td {
  margin: 10px;
  text-align: justify;
}
/* img {
  align-items: center;
} */
.allPictures {
  display: inline-block;
  margin: 20px;
  width: 300px;
  height: 400px;
  border: 1px solid black;
}
.oneItemInfo {
  /* display: inline-block;
  padding: 40px;
  margin-top: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.oneItem {
  padding: 30px 10px;
}
.info {
  padding-left: 20px;
}
.headInfo {
  color: blue;
  font-weight: bold;
}
.link {
  display: block;
}
.sort {
  margin-top: 30px;
}
