* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: #96baff;
}
table {
  border-spacing: 3px;
}
.underline {
  text-decoration: underline;
  color: rgb(116, 45, 4);
}
.item-wrapper {
  display: grid;
  grid-template-rows: 0.2fr 1fr 0.6fr 0.1fr;
  font-size: 0.8rem;
}
.film-name {
  text-align: center;
  padding-top: 15px;
}
.image > img {
  width: 50%;
  height: auto;
}
.image {
  text-align: center;
}
.info-wrapper {
  margin-top: 10px;
  padding: 10px;
}
.link {
  text-align: center;
}
.sort-container {
  background-color: #7c83fd;
  padding: 10px;
}
.sortItem {
  padding-top: 10px;
}
.conteiner {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.oneFilm {
  width: 200px;
  height: 330px;
  text-align: center;
  margin: 20px;
  padding: 5px;
  border: blanchedalmond 1px solid;
}

.btn {
  text-decoration-line: unset;
  color: blue;
  margin-top: 5px;
}
@media (min-width: 768px) {
  .conteiner {
    display: flex;
    justify-content: space-between;
    flex-direction: unset;
    flex-wrap: wrap;
  }
  .oneFilm {
    display: block;
    float: left;
    width: 200px;
    height: 330px;
    text-align: center;
  }
  .sort-container {
    display: flex;
    justify-content: space-evenly;
  }
  .sortItem {
    padding-top: 10px;
  }
  .item-wrapper {
    grid-template-rows: 0.15fr 1fr 0.4fr 0.1fr;
    font-size: 1rem;
  }
}
@media (min-width: 1100px) {
  .image > img {
    width: 300px;
    height: auto;
  }
  .text:hover {
    font-size: large;
    font-weight: bold;
  }
}
